@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
  z-index: 1000;
  isolation: isolate;
  color: white;
  overflow-x: hidden;

  
}

nav {
  display: flex;
  flex-direction: column;
  transition: all 100ms linear;
  background: black;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  &.open-menu {
    height: max-content;
  }

  .burger-menu {
    width: max-content;
    height: 15px;
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 100;

    &:hover {
      cursor: pointer;
    }

    .bar-one,
    .bar-two,
    .bar-three {
      display: block;
      height: 1px;
      width: 40px;
      background-color: white;
      margin-bottom: 7px;
      transition: all 100ms linear;
    }

    .bar-one {
      &.effect {
        transform: translateY(5px) rotate(45deg);
      }
    }
    .bar-two {
      &.effect {
        transform: translateX(-5px);
        opacity: 0;
        visibility: hidden;
      }
    }

    .bar-three {
      &.effect {
        transform: translateY(-11px) rotate(-45deg);
      }
    }
  }

  .logo {
    width: clamp(80px, 90px, 150px);
    margin: 0 auto;

    &.open-menu {
      visibility: hidden;
    }
  }

  ul {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    list-style: none;
    transform: translateX(10px);
    transition: all 100ms linear;
    height: 100%;

    &.open-menu {
      visibility: unset;
      opacity: 1;
      transform: translateX(0);
    }

    li {
      text-align: center;

      a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        padding: 1rem 1.5rem;
        font-weight: 300;
        letter-spacing: 2px;
        border-bottom: 1px solid rgba(192, 192, 192, 0.219);
        transition: all 100ms ease;

        &:hover {
          border-bottom: 1px solid rgba(192, 192, 192, 0.63);
          color: white;
        }
      }
    }
  }
}

.router-outlet-wrapper {
  margin-top: 120px;


  h1 {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  #router-outlet {

    &.open-menu {
      opacity: .2;
    }

    .bio {
        padding: 1.5rem;
        margin-bottom: 1rem;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 120%;
        background: linear-gradient(
          to right,
          rgba(255, 0, 0, 0.877),
          rgba(0, 0, 0, 0.199)
        );
        margin-left: -50px;
      }

      .img-wrapper {
        img {
          width: 100%;
          margin-left: -100px;
        }
      }

      .bio-description-wrapper {
        background: rgba(0, 0, 0, 0.603);
        margin-top: -120px;
        padding: 15px;
        font-weight: 300;
        isolation: isolate;
        clip-path: polygon(15% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 15%);
        border-top: 2px solid rgba(255, 0, 0, 0.363);

        h2 {
          margin-top: 0;
          margin-bottom: 10px;
          padding: 0 10px;
          text-align: right;
          width: 100%;
          text-transform: uppercase;
        }

        p {
          padding: 0 15px;
        }
      }
    }
    .upcoming-shows {
      .img-wrapper {
        img {
          width: 100%;
        }
      }
    }
  }

  .social-media {
    background: #1c1c1c;
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;

    a {
      color: white;

      margin-right: 10px;
      i {
        
      }
    }

  }

}

.projects-outer-wrapper {
  display: flex;
  display: none;
  height: 200px;
  background: black;
  overflow: hidden;

  &::before {
    content: "PROJECTS";
    height: 150px;
    width: 100px;
    color: white;
    position: absolute;
    margin-top: -10px;
  }

  .slider-wrapper {
    flex: 1;
    text-align: center;
    display: grid;
    place-content: center;
    height: 100%;
    height: 200px;
    width: 200px;
    opacity: 0.8;
    transition: all 150ms linear;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition: all 150ms linear;

    &:nth-of-type(1) {
      background: url("https://metalshockfinland.files.wordpress.com/2017/12/marcrizzo-2017.jpg?w=584")
        no-repeat;
      background-size: 400px;
    }
    &:nth-of-type(2) {
      background: url("https://metaladdicts.com/wp-content/uploads/2016/06/Marc-Rizzo.jpg")
        no-repeat;
      background-size: 400px;
    }
    &:nth-of-type(3) {
      background: url("https://www.metal-archives.com/images/4/8/3/6/48367_photo.jpg?1901")
        no-repeat;
      background-size: 400px;
    }

    &:hover {
      opacity: 1;
      flex: 5;
      background-size: 400px;
      transform: translateX(-10px);
      clip-path: unset;
      z-index: 1;

      &:nth-of-type(1) {
        background: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.7) 20%,
              rgba(255, 255, 255, 0.1) 85%,
              rgba(0, 0, 0, 0.8) 99%
            )
            no-repeat,
          url("https://metalshockfinland.files.wordpress.com/2017/12/marcrizzo-2017.jpg?w=584")
            no-repeat;
        background-size: 400px;
      }

      &:nth-of-type(2) {
        background: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.7) 20%,
              rgba(255, 255, 255, 0.1) 49%,
              rgba(0, 0, 0, 0.8) 90%
            )
            no-repeat,
          url("https://metaladdicts.com/wp-content/uploads/2016/06/Marc-Rizzo.jpg")
            no-repeat;
        background-size: 400px;
      }

      &:nth-of-type(3) {
        background: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.7) 20%,
              rgba(255, 255, 255, 0.1) 49%,
              rgba(0, 0, 0, 0.8) 90%
            )
            no-repeat,
          url("https://www.metal-archives.com/images/4/8/3/6/48367_photo.jpg?1901")
            no-repeat;
        background-size: 400px;
      }

      section {
        text-align: left;
        width: 70%;
        margin-left: auto;
        font-size: 1.2rem;
        margin-top: 0;
        font-family: sans-serif;
        padding: 0.5rem;
        display: unset;
      }

      title {
        display: none;
      }
    }

    section {
      color: white;
      display: none;
    }

    title {
      color: white;
      display: unset;
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      opacity: 1;
      margin-right: -120px;
    }
  }
}
