// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

@font-face {
  font-family: "basement grotesque";
  src: url("utils/fonts/BasementGrotesque-Black_v1.202.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "basement grotesque", sans-serif;
  letter-spacing: 1px;
  z-index: 1000;
  isolation: isolate;
  color: white;
  overflow-x: hidden;

    &.merch-modal-active {
      height: 100%;
      overflow: hidden;
    }
}

nav {
  display: flex;
  flex-direction: column;
  transition: all 100ms linear;
  background: black;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  &.open-menu {
    height: max-content;
  }

  &.scroll-effect {
    height: 80px;
  }

  .burger-menu {
    width: max-content;
    height: 28px;
    position: absolute;
    top: 25px;
    right: 35px;
    z-index: 100;
    transition: all 100ms linear;

    &.scroll-effect {
      top: 22px;
    }

    &:hover {
      cursor: pointer;
    }

    .bar-one,
    .bar-two,
    .bar-three {
      display: block;
      height: 1px;
      width: 40px;
      background-color: white;
      margin-bottom: 7px;
      transition: all 100ms linear;
    }

    .bar-one {
      margin-top: 8px;
      &.effect {
        transform: translateY(5px) rotate(45deg);
      }
    }
    .bar-two {
      &.effect {
        transform: translateX(-5px);
        opacity: 0;
        visibility: hidden;
      }
    }

    .bar-three {
      &.effect {
        transform: translateY(-11px) rotate(-45deg);
      }
    }
  }

  .logo {
    width: 80px;
    margin: 0 auto;
    margin-top: 0.5rem;
    transition: all 100ms linear;

    &.open-menu {
      visibility: hidden;
    }

    &.scroll-effect {
      margin-top: 1rem;
      width: 50px;
    }
  }

  ul {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    list-style: none;
    transform: translateX(10px);
    transition: all 100ms linear;
    height: max-content;
    background: black;

    &.open-menu {
      visibility: unset;
      opacity: 1;
      transform: translateX(0);
      background: black;
      // margin-top: .5rem;
    }

    li {
      text-align: center;

      a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        padding: 1rem 1.5rem;
        font-weight: 300;
        letter-spacing: 2px;
        border-bottom: 1px solid rgba(192, 192, 192, 0.219);
        transition: all 100ms ease;

        &:hover {
          border-bottom: 1px solid rgba(192, 192, 192, 0.63);
          color: white;
        }
      }
    }
  }
}

.router-outlet-wrapper {
  margin-top: 120px;

  h1 {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  #router-outlet {
    &.open-menu {
      opacity: 0.2;
    }

    // &.merch-modal-active {
    //   height: 100%;
    //   overflow: hidden;
    // }

    .bio {
      padding: 1.5rem;
      padding-top: 0;
      // margin-bottom: 1rem;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 120%;
        background: linear-gradient(
          to right,
          rgba(255, 0, 0, 0.877),
          rgba(0, 0, 0, 0.199)
        );
        margin-left: -50px;
      }

      .img-wrapper {
        img {
          width: 100%;
          margin-left: -100px;
        }
      }

      .bio-description-wrapper {
        background: rgba(0, 0, 0, 0.603);
        margin-top: -120px;
        padding: 15px;
        font-weight: 300;
        isolation: isolate;
        clip-path: polygon(15% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 15%);
        border-top: 2px solid rgba(255, 0, 0, 0.363);

        h2 {
          margin-top: 0;
          margin-bottom: 10px;
          padding: 0 10px;
          text-align: right;
          width: 100%;
          text-transform: uppercase;
        }

        p {
          padding: 0 15px;
          line-height: 22px;
        }
      }
    }

    .track-previews {
      margin-bottom: 1rem;

      h2 {
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0 10px;
        text-align: left;
        width: 100%;
        text-transform: uppercase;
      }

      iframe {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
      }
    }

    .upcoming-shows {
      // &::before {
      //   content: "";
      //   display: block;
      //   background: white;
      //   height: 100%;
      //   clip-path: polygon(100% 0, 0 0, 100% 8%);
      // }

      h2 {
        // background: rgba(73, 73, 73, 0.322);
        color: white;
        text-transform: uppercase;
        padding: 0.5rem 10px;
        display: block;
        margin-bottom: 10px;
        border-bottom: 2px solid rgba(255, 0, 0, 0.432);
      }

      .img-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        padding: 5px;

        img {
          width: 100%;

          &:nth-child(1) {
            grid-column: span 2;
            grid-row: 1 / 2;
          }
          &:nth-child(2) {
            grid-column: 2 / -1;
            grid-row: span 2;
            margin-top: -50px;
          }
        }
      }
    }
  }

  .social-media {
    background: #1c1c1c;
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;

    a {
      color: white;

      margin-right: 10px;
      i {
      }
    }
  }

  .developed-by {
    background: white;
    color: #1c1c1c;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-align: center;
  }
}

.projects-outer-wrapper {
  display: flex;
  display: none;
  height: 200px;
  background: black;
  overflow: hidden;

  &::before {
    content: "PROJECTS";
    height: 150px;
    width: 100px;
    color: white;
    position: absolute;
    margin-top: -10px;
  }

  .slider-wrapper {
    flex: 1;
    text-align: center;
    display: grid;
    place-content: center;
    height: 100%;
    height: 200px;
    width: 200px;
    opacity: 0.8;
    transition: all 150ms linear;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition: all 150ms linear;

    &:nth-of-type(1) {
      background: url("https://metalshockfinland.files.wordpress.com/2017/12/marcrizzo-2017.jpg?w=584")
        no-repeat;
      background-size: 400px;
    }
    &:nth-of-type(2) {
      background: url("https://metaladdicts.com/wp-content/uploads/2016/06/Marc-Rizzo.jpg")
        no-repeat;
      background-size: 400px;
    }
    &:nth-of-type(3) {
      background: url("https://www.metal-archives.com/images/4/8/3/6/48367_photo.jpg?1901")
        no-repeat;
      background-size: 400px;
    }

    &:hover {
      opacity: 1;
      flex: 5;
      background-size: 400px;
      transform: translateX(-10px);
      clip-path: unset;
      z-index: 1;

      &:nth-of-type(1) {
        background: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.7) 20%,
              rgba(255, 255, 255, 0.1) 85%,
              rgba(0, 0, 0, 0.8) 99%
            )
            no-repeat,
          url("https://metalshockfinland.files.wordpress.com/2017/12/marcrizzo-2017.jpg?w=584")
            no-repeat;
        background-size: 400px;
      }

      &:nth-of-type(2) {
        background: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.7) 20%,
              rgba(255, 255, 255, 0.1) 49%,
              rgba(0, 0, 0, 0.8) 90%
            )
            no-repeat,
          url("https://metaladdicts.com/wp-content/uploads/2016/06/Marc-Rizzo.jpg")
            no-repeat;
        background-size: 400px;
      }

      &:nth-of-type(3) {
        background: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.7) 20%,
              rgba(255, 255, 255, 0.1) 49%,
              rgba(0, 0, 0, 0.8) 90%
            )
            no-repeat,
          url("https://www.metal-archives.com/images/4/8/3/6/48367_photo.jpg?1901")
            no-repeat;
        background-size: 400px;
      }

      section {
        text-align: left;
        width: 70%;
        margin-left: auto;
        font-size: 1.2rem;
        margin-top: 0;
        font-family: sans-serif;
        padding: 0.5rem;
        display: unset;
      }

      title {
        display: none;
      }
    }

    section {
      color: white;
      display: none;
    }

    title {
      color: white;
      display: unset;
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      opacity: 1;
      margin-right: -120px;
    }
  }
}

//? MERCH PAGE

.merch-page-wrapper {
  position: relative;


.merch-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem;

  img {
    width: 100%;
    cursor: pointer;
  }
}

.frontier-shop {
  padding: 1rem;
  margin-left: auto;
  width: 100%;

  a {
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: #353535;
    padding: 0.6rem 1rem;
    border: 1px solid #2b2b2b;
    transition: all 150ms ease;
    text-align: center;
    display: block;

    &:hover {
      color: #1c1c1c;
      background: rgb(223, 223, 223);
      padding: 0.6rem 1rem;
      border: 1px solid #2b2b2b;
    }
  }
}

#merch-page-modal {
  visibility: hidden;
  position: absolute;
  background: rgba(10, 10, 10, 0.849);
  transition: all 150ms linear;

  span {
    font-size: 2rem;
    padding-right: 3rem;
    text-align: right;
    cursor: pointer;
    background: linear-gradient(to left, black, rgb(49, 49, 49))
  }

  img {
    padding: 2rem 0 0;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: -20px;
  }

  &.active {
    display: flex;
    width: 100%;
    // position: sticky;
      top: 0;
      right: 0;
      left: 0;
      // bottom: 0;
      opacity: 0;
    visibility: unset;
    flex-direction: column;
    opacity: 1;
  }


}
}

//? VIDEOS

.main-video {
  iframe {
    display: block;
    margin: 5px auto;
  }
}

.video-library-streaming {
  display: flex;
  overflow-x: auto;

  iframe {
    border: none;
  }
}
.video-library-other {
  height: 100px;

  // iframe {
  //   border: none;
  // }
}
